.themeToggle {
  position: static;
  width: var(--theme-w);
  height: var(--theme-w);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-w) solid var(--border);
  border-radius: 50%;
  color: var(--text-1);
  background: var(--primary);
  cursor: pointer;
  font-size: var(--fs-lg);
  transition: background var(--animation-d), border-color var(--animation-d);
}

.themeToggle:hover {
  background: var(--primary-bg);
}
